<form action = "/search">
    <div class="form-group">
        <label for="search">Type what do you want to search: </label>
        <input id="search" name="search" class="form-control" type="text" value="query">
    </div>
    <button type="submit" class="btn">Run!</button>
</form>